html {
    scroll-behavior: smooth;
}

* {
    margin: 0%;
    padding: 0%;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

body {
    overflow-y: hidden;
    overflow-x: hidden;
}

.webBg {
    position: fixed;
    width: 100%;
    height: 100%;
    background-attachment: fixed;
    z-index: -1;
}

.navs {
    width: 100%;
    height: 7%;
    background: transparent;
    position: fixed;
    display: flex;
    align-items: center;
    z-index: 1;
}

.navs a:nth-child(1) {
    margin-left: 3%;
}

.navs a {
    text-decoration: none;
    font-weight: bold;
    color: #fff;
    margin-left: 4.6%;
    font-size: 16px;
}

.navigators {
    width: 85%;
    display: flex;
    justify-content: start;
    margin-top: 2%;
}

.navigators2 {
    width: 15%;
    display: flex;
    justify-content: end;
    margin-top: 2%;
}

.logoutBtn {
    background: none;
    border: none;
    cursor: pointer;
    color: #fff;
    font-weight: bold;
    font-size: 16px;
    margin-right: 35px;
}

.loginBtn {
    margin-right: 35px;
}

.navigators2 .editBtn {
    margin-right: 20%;
}

.profilePic img {
    height: 70vh;
    width: 40%;
    position: fixed;
    top: 15%;
    left: 56%;
    z-index: 0;
    border-radius: 50%;
    border: 7px solid #ffffff9d;
}

.Home {
    width: 100vw;
    height: 100vh;
    padding: 20% 0% 0% 10%;
}

.Home h1 {
    font-size: 24px;
    display: inline-block;
}

.Home h1:nth-child(2) {
    font-size: 42px;
    font-weight: 1000;
    text-transform: uppercase;
    text-indent: 8px;
}

.Home p {
    line-height: 30px;
    text-indent: 30px;
    width: 40%;
    word-wrap: break-word;
    text-align: justify;
    color: #fff;
    font-weight: 400;
}

.Bio {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.Bio h1 {
    margin-bottom: 2%;
    font-weight: 1000;
    font-size: 32;
    color: #fff;
    margin-left: 4%;
}

.bioData {
    column-count: 1;
    margin-left: 4%;
}

.bioData p {
    background: linear-gradient(180deg, #000, #00000081);
    color: #fff;
    width: 50%;
    padding: 0.5%;
    margin-bottom: 1%;
    border-radius: 10px;
    border: 2px solid #fff;
    text-indent: 10px;
}

.Skills {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.Skills h1 {
    margin-bottom: 2%;
    font-weight: 1000;
    font-size: 32px;
    margin-left: 4%;
    color: #fff;
}

.skillsContainer {
    margin-left: 4%;
    column-count: 2;
    width: 50%;
    height: 50%;
    display: grid;
    overflow-y: auto;

    scrollbar-width: thin; /* Firefox support */
    scrollbar-color: #000 #f1f1f1; /* Firefox support */
    
    /* WebKit-based browsers (Chrome, Safari) */
    &::-webkit-scrollbar {
        width: 12px;
    }

    &::-webkit-scrollbar-thumb {
        background-color: #000;
        border-radius: 10px;
    }

    &::-webkit-scrollbar-track {
        background-color: #f1f1f1;
        border-radius: 10px;
    }

    &::-webkit-scrollbar-thumb:horizontal {
        background-color: #888;
    }

    &::-webkit-scrollbar-track:horizontal {
        background-color: #f1f1f1;
    }
}

.firstP, .secondP {
    display: inline-block;
    padding: 8px;
    font-size: 14px;
    margin-bottom: 2%;
}

.firstP {
    width: 20%;
    border-radius: 10px 0px 0px 10px;
    background: linear-gradient(180deg, #000, #00000081);
    color: #fff;
    border-top: 2px solid #000;
    border-left: 2px solid #000;
    border-right: 2px solid #000;
    border-bottom: 2px solid #000;
}

.secondP {
    width: 20%;
    border-radius: 0px 10px 10px 0px;
    margin-left: -0.7%;
    border-top: 2px solid #000; /* Set the color and style as needed */
    border-right: 2px solid #000;
    border-bottom: 2px solid #000;
    background: #fff;
    color: #000;
}

.Preferences {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.Preferences h1 {
    margin-bottom: 2%;
    font-weight: 1000;
    font-size: 32px;
    margin-left: 4%;
    color: #fff;
}

.Preferences p {
    color: #fff;
    margin-left: 4%;
    background: linear-gradient(180deg, #000, #00000081);
    width: 50%;
    word-wrap: break-word;
    text-align: justify;
    padding: 0.5%;
    border: 2px solid #fff;
    border-radius: 10px;
}

.Contact {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.Contact h1 {
    margin-bottom: 1%;
    font-weight: 1000;
    font-size: 32px;
    color: #fff;
    margin-left: 3%;
}

.Contact p {
    display: flex; /* Add this property */
    align-items: center; /* Vertically center the content */
    text-indent: 10px;
    padding: 0.7%;
    background: linear-gradient(180deg, #fff, #00000081);
    width: 40%;
    border: 3px solid #000;
    margin-left: 3%;
    border-radius: 10px;
    color: #000;
    margin-bottom: 1%;
}

.Contact img {
    height: 24px;
    width: 24px;
}

.Contact .socialIcons {
    display: flex;
    justify-content: center;
    margin-left: 3%;
    background: linear-gradient(180deg, #fff, #00000081);
    border: 3px solid #000;
    border-radius: 10px;
    width: 41.3%;
}

.Contact .socialIcons img {
    height: 56px;
    width: 66px;
}

.Contact .socialIcons a {
    margin-right: 5%;
    padding: 1%;
}

.success-message {
    background: #02fed4;
    width: 40%;
    height: 10%;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    left: 50%;
    transform: translate(-50%);
}